<h2>
    <%=planetName%>
</h2>
Description: <%=planetInfo.description%><br>
    <%=planetInfo.def%><br>
        <%=planetInfo.distanceFromSun%><br>
            <%=planetInfo.yearLength%><br>
                <%=planetInfo.websiteLink%><br>
                    <%=planetInfo.oneEarthDay%><br>
                        <%=planetInfo.moons%><br>
                            <br>
                            <img src="<%=planetInfo.image%>" width="300" />