<div class="planet">
  <div class="planetText">
    <h2><%= planetName %></h2>
    <p><%= planetInfo.description %></p>
    <p><%= planetInfo.distanceFromSun %></p>
    <p><%= planetInfo.yearLength %></p>
  </div>

  <div class="planetImage">
    <img src="<%= planetInfo.image %>" alt="<%= planetName %>">
  </div>
</div>
